@inherits LayoutComponentBase


<div class="app-layout">
    <div class="app-header">
        🏴‍☠️ <strong>Biblioteca Ohara</strong>
    </div>


    <div class="app-body">
        <div class="app-sidebar">
            <NavMenu />
        </div>


        <main class="app-content">
            @Body
        </main>
    </div>
</div>