@page "/"


<div class="adventure-container">
    <div class="map-header">
        <img src="images/logo-ohara.png" alt="Biblioteca Ohara" class="main-logo" />
        <p>“Onde o conhecimento resiste ao tempo e sobrevive às ondas.”</p>
    </div>

    <div class="map-grid">
        <a href="/livros" class="wanted-card">
            <div class="thumbtack tack-left"></div>
            <div class="thumbtack tack-right"></div>
            <h2 class="wanted-header-text">WANTED</h2>
            <div class="photo-frame">
                <img src="images/livro-ohara.png" class="wanted-img" />
            </div>
            <div class="wanted-content">
                <h3>Tesouros Literários</h3>
                <p>Descubra histórias raras resgatadas das correntes marítimas.</p>
            </div>
        </a>

        <a href="/autores" class="wanted-card">
            <div class="thumbtack tack-left"></div>
            <div class="thumbtack tack-right"></div>
            <h2 class="wanted-header-text">WANTED</h2>
            <div class="photo-frame">
                <img src="images/chapeu-ohara.png" class="wanted-img" />
            </div>
            <div class="wanted-content">
                <h3>Lendas do Mar</h3>
                <p>Contos épicos dos maiores piratas de todos os mares.</p>
            </div>
        </a>
    </div>

    <footer>
        <p>⚓ Claro, tem um lugar para os exploradores técnicos como você: <a href="https://github.com/Namanosbad/OharaAPI" target="_blank">⚓ Acesse a API da Biblioteca | 2026 ⚓</a></p>
    </footer>
</div>