@page "/autores"
@inject AutorService AutorService
@inject NavigationManager Nav

<div class="adventure-container">

    <div class="map-header">
        <h1 class="page-title">REGISTROS DE LENDAS</h1>

        <input @bind="filtro"
               @bind:event="oninput"
               placeholder="Buscar autor pelo nome..."
               class="ohara-input"
               style="max-width: 420px; text-align:center;" />
    </div>

    @if (autores == null)
    {
        <div class="loading-container">
            <p>Consultando os arquivos de Ohara...</p>
        </div>
    }
    else
    {
        <div class="generic-grid">
            @foreach (var autor in AutoresFiltrados)
            {
                <div class="generic-card" @onclick="() => SelecionarAutor(autor.Id)">
                    <div class="generic-thumbtack autor-tack-left"></div>
                    <div class="generic-thumbtack autor-tack-right"></div>

                    <h2 class="generic-card-header">WANTED</h2>

                    <div class="generic-card-framee">
                        <div class="generic-card-img">@autor.Nome.Substring(0, 1)</div>
                    </div>

                    <div class="generic-card-content">
                        <h3>@autor.Nome</h3>
                        <p class="generic-card-status">DEAD OR ALIVE</p>
                        <div class="generic-card-bounty">
                            <span class="currency">฿</span> 100.000.000-
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <button class="back-scroll" @onclick="Voltar">
        ← Voltar ao Mapa
    </button>

</div>

@code {
    private List<AutorResponse>? autores;
    private string filtro = string.Empty;

    private IEnumerable<AutorResponse> AutoresFiltrados =>
        autores?.Where(a =>
            string.IsNullOrWhiteSpace(filtro) ||
            a.Nome.Contains(filtro, StringComparison.OrdinalIgnoreCase))
        ?? Enumerable.Empty<AutorResponse>();

    protected override async Task OnInitializedAsync()
    {
        autores = await AutorService.ObterTodos();
    }

    private void SelecionarAutor(Guid id)
    {
        // depois
    }

    private void Voltar()
    {
        Nav.NavigateTo("/");
    }
}